/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFDE59; /* Cor clara */
    color: #1F5836; /* Cor escura */
}

header {
    background-color: #1F5836; /* Cor escura */
    color: white; /* Cor de contraste */
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 1rem;
}

nav a {
    color: white; /* Cor de contraste */
    text-decoration: none;
}

section {
    padding: 2rem;
}

footer {
    background-color: #1F5836; /* Cor escura */
    color: white; /* Cor de contraste */
    text-align: center;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}
